

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.item {
  background-color: #eee;
  height: 200px;
  border: solid 5px #fff;
}
